/* You can add global styles to this file, and also import other style files */
.center{
    text-align: center !important;
}
.mar-top15{
    margin-top: 15px;
}
.mar-bottom15{
    margin-top: 15px;
}
.mar-left15{
    margin-top: 15px;
}
.mar-right15{
    margin-top: 15px;
}

.btnapp{
    color: white !important;
}